<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="debug" default="false"/>
  <arg name="save_log" default="false"/>
  <arg name="only_robot" default="false"/>
	<arg name="scene_name" default="enterprise_scene.xml"/>
  <arg name="workspace_folder" default="$(find skiros_std_lib)"/>
  <!-- NOTE: aau_stamina_robot for the ur10 robot in aau, stamina_robot for the fanuc robot in PSA -->
  <arg name="robot_name" default="stamina_robot"/>
  <arg name="base_name" default="stamina_mobile_base"/>

	<include unless="$(arg only_robot)" file="$(find skiros)/launch/skiros_task_and_wm.launch">
		<arg name="debug" value="$(arg debug)"/>
		<arg name="save_log" value="$(arg save_log)"/>
		<arg name="scene_name" default="$(arg scene_name)"/>
		<arg name="workspace_folder" value="$(arg workspace_folder)"/>
  </include>

	<include file="$(find skiros)/launch/skiros_skill_mgr.launch">
		<arg name="debug" value="$(arg debug)"/>
		<arg name="save_log" value="$(arg save_log)"/>
		<arg name="robot_name" value="$(arg base_name)"/>
  	<arg name="skill_list" value="drive_fake"/>
  	<arg name="module_list" value="nomodules"/>
  </include>
	<include file="$(find skiros)/launch/skiros_skill_mgr.launch">
		<arg name="debug" value="$(arg debug)"/>
		<arg name="save_log" value="$(arg save_log)"/>
		<arg name="robot_name" value="$(arg robot_name)"/>
  		<arg name="delay_start_time" default="1.0"/>
  	<arg name="skill_list" value="pick_fake place_fake"/>
  	<arg name="module_list" value="locate_fake"/>
  </include>
</launch>
